<HTML><HEAD><TITLE>Boinc Stats</TITLE>

<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</HEAD>
<BODY>
<div ng-app="fahApp" ng-controller="statsCtrl">
<form>
Row count: <input type=number min=1 ng-model="rowCount" ng-change="gqlDisplay()">
</form>
<table>
	<tr>
	<th>ID</th>
	<th>Day</th>
    <th>User Total Credit</th>
	<th>User ExpAvg Credit</th>
	<th>Host Total Credit</th>
	<th>Host ExpAvg Credit</th>
	<th>Project Source</th>
  </tr>
  <tr ng-repeat="x in gql_stats">
	<td>{{ x.ID }}</td>
    <td>{{ x.day }}</td>
    <td>{{ x.user_total_credit }}</td>
	<td>{{ x.user_expavg_credit }}</td>
	<td>{{ x.host_total_credit }}</td>
	<td>{{ x.host_expavg_credit }}</td>
	<td>{{ x.projectSource }}</td>
  </tr>
</table>
 </div>
 
<script>
var app = angular.module('fahApp', []);
app.controller('statsCtrl', function($scope ,$http) {
	$scope.rowCount = 12;
	$scope.gqlDisplay = function() {
   $http.get("graphql.php?query={stat {ID day user_total_credit user_expavg_credit host_total_credit host_expavg_credit projectSource}}&numRows=" + $scope.rowCount)
   .then(function (response) {$scope.gql_stats = response.data.data.stat;});
   }
   $scope.gqlDisplay();
});
</script>
</BODY>
</HTML>